.search__container {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  width: 75%;
  margin: auto;
  display: flex;
  gap: 1rem;
}

.search__container input {
  all: unset;
  width: 100%;
  font-size: 18px;
}

.country__info {
  padding: 5rem 0;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  word-wrap: break-word;
}

.image__background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  position: absolute;
}

.image__background__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: inset 0px 300px 202px 102px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}
